<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Capture</title>
</head>
<body>
  
    <h1 style="text-align: center;">FACE CAPTURE</h1>
    <div style="justify-content: center;display: flex;margin-top:30px;"><img src="{{ url_for('video')}}" width="50%"></div>
    <div style="justify-content: center;display: flex;margin-top:50px;">
    <form method="post" action="{{ url_for('tasks') }}">
    <input type="submit" name="capture" id="capture" value="capture"></div></form>
</body>
</html>