<html>
<head>
   <title>Not Verified</title>
</head>
<body>
   <h1 style="text-align:center;">Your Identity hasn't been Verified!</h1>
   <br/>
   <img src="https://img.freepik.com/premium-photo/rejected-sign-symbol-red-cross-no-wrong-concepts-white-isolated-rejected-sign-icon-three-dimensional-rendering-3d-render_62294-79.jpg?w=2000" alt="centered image" class="center" height="600" width="600">
   <style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
   </style>
</body>